---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=denver,co,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - fake_api_key_2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19986'
      X-Ratelimit-Reset:
      - '1649024797'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":11032963,"width":4185,"height":2795,"url":"https://www.pexels.com/photo/a-city-skyline-during-night-time-11032963/","photographer":"Josh
        Hild","photographer_url":"https://www.pexels.com/@josh-hild-1270765","photographer_id":1270765,"avg_color":"#293F4C","src":{"original":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg","large2x":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/11032963/pexels-photo-11032963.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"A
        City Skyline during Night Time"}],"total_results":8000,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=denver%2Cco%2Cskyline"}'
  recorded_at: Sun, 06 Mar 2022 16:29:47 GMT
recorded_with: VCR 6.0.0
