---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?fields=title,publisher,isbn&limit=5&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.264 TT 0 0.265"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 41867,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "title": "Denver, Co",
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "publisher": [
                        "Universal Map Enterprises"
                    ]
                },
                {
                    "title": "Photovoltaic safety, Denver, CO, 1988",
                    "isbn": [
                        "0883183668",
                        "9780883183663"
                    ],
                    "publisher": [
                        "American Institute of Physics"
                    ]
                },
                {
                    "title": "University of Denver Co 2007",
                    "isbn": [
                        "9781427401687",
                        "1427401683"
                    ],
                    "publisher": [
                        "College Prowler"
                    ]
                },
                {
                    "title": "Denver Co Deluxe Flip Map",
                    "isbn": [
                        "0762557362",
                        "9780762557363"
                    ],
                    "publisher": [
                        "Universal Map Enterprises"
                    ]
                },
                {
                    "title": "Insight Fleximap Denver, CO (Insight Fleximaps)",
                    "isbn": [
                        "9812582622",
                        "9789812582621"
                    ],
                    "publisher": [
                        "American Map Corporation"
                    ]
                }
            ],
            "num_found": 41867,
            "q": "denver,co",
            "offset": null
        }
  recorded_at: Mon, 07 Mar 2022 17:07:27 GMT
[...]
